:root{
        
        /** spacing spacing spacing spacing  spacing spacing  spacing spacing  */
    --spaceDefault:1rem;
    --spaceXXSmal:calc(var(--spaceDefault)/2);
    --spaceSmall:calc(var(--spaceDefault)*2);
    --spaceAfterSmall: calc(var(--spaceDefault)*2.5);
    --spaceMedium:calc(var(--spaceDefault)*3);
    --spaceMediumPlus:calc(var(--spaceDefault)*4);
    --spaceLarge: calc(var(--spaceDefault)*5);
    --spaceXLarge:calc(var(--spaceDefault)*6);


       /** font-size  font-size  font-size  font-size */
       --fontDefault:1rem;
       --fontMMD: 5rem;
       --fontMMDFisrtPage:5.8rem;
       --fontMMDSecondPage: 5.2rem;
       --fontBody:1.2rem;
       --fontMobileBody:1.1rem;
       --fontHeaderPSignature:52px;
       --fontMedium:calc(var(--fontDefault)*2);
       --fontMini: calc(var(--fontDefault)/2);
       --fontHeader:1.5rem;
     
       

    

        /** colors colors colors colors colors colors */
        --ModulOverskriftColorFont:#4E4E4E;
        --colorFontBody:#4E4E4E;
        --colorBoxGolden: #fcf0b7; 
        --colorBoxSky:#bce5f4;
        --colorBoxGrass: #36c6063d; 
        --colorBoxDarling:rgba(255, 192, 203, 0.762);
        --colorBoxNeutral:rgba(211, 211, 211, 0.872);
        --colorBoxIntense:rgba(252, 107, 107, 0.667);

}

*{
        box-sizing: border-box;
}
      




body{  
        display: flex;
        flex-direction: column;
        margin-top: 5px;
        background: rgb(253, 253, 253);
        font-family: 'Nunito Sans', sans-serif;
        font-size: var(--fontBody);
        border-radius: 20px;
        color: #4E4E4E;
        background: rgb(250,249,245);
        background: radial-gradient(circle, rgb(253, 253, 252) 76%, rgba(223,223,222,1) 100%);
        height: 100vh;
        margin: 0;


 
      

}
ul,li {
        list-style: none;
   
}
ul{
        padding-left: 0;
}

.navbar{
        padding-top: 4px;
}

.navbar__list{
        display: flex;
        flex-direction: row;
        list-style: none;
        display: inline-block;

}
a{
        text-decoration: none;
        color: #222;   
}
.--item{
  font-family: 'Nunito Sans', sans-serif;
  padding-left: var(--spaceXXSmal);
  padding-right: 1.5rem;

 
}
.--item:hover{
cursor: pointer;
font-weight: 700;
color:#fa911a  ;
border-left: #fa911a solid 1px;


}


.--pMobile{
        display: none;
}


header{
        margin-bottom: var(--spaceSmall);
        padding-left: var(--spaceSmall);
        padding-bottom: var(--spaceXXSmal);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: fixed;
        z-index: 1001;
        top:0;
        width: 100%;
        background: linear-gradient(90deg, rgba(238,238,237,1) 6%, rgba(253,253,252,1) 12%, rgba(253,253,252,1) 21%, rgba(253,253,252,1) 80%, rgba(253,253,252,1) 86%, rgba(238,238,237,1) 94%);
    
}
.--headerP{
        margin-top:4px;
        margin-bottom: 0;
        text-align:left;
        font-family: 'Babylonica', cursive;
        font-weight: 200;
        font-size: var(--fontHeaderPSignature);
        color: rgb(48, 51, 53);
        line-height: 100%;
        color:rgb(243, 132, 151) ;
        color: #fa911a;
       
}
.--lportfolio{
       margin-top: 0;
       text-align:left;
       color:rgb(79, 75, 75);
       line-height: 0%;
       z-index: +1;
       font-weight: 100;
       font-family: 'Nunito Sans', sans-serif;
       letter-spacing: 2px;
       font-size: var(--fontDefault);
       padding-left: 10px;margin-bottom: 0;
    

}
.hamburgerMenu{
        display: none;
}
/* front-page front-page  front-page  front-page  front-page */ 
.--mmd {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: var(--fontMMD);
        margin-top:0;
        text-align: left;
        margin-bottom: var(--spaceDefault);
}
.--PageFirst{
        font-size: 6.2rem;
        margin-bottom: var(--spaceMedium);
     
     
}

.hvemErMmd{
        text-indent: 5%;
        margin-bottom: var(--spaceXXSmal);
        margin-top: 0; 
        padding: var(--spaceDefault);
        font-size: var(--fontBody);

}

.main.--PageContent{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        max-width: 70vw;
        align-self: center;
        margin-top: 5rem;
        font-size: var(--fontBody);
   

}

.introduction{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        margin-bottom: 8rem; 
        background-image: url(images/mmd-pic.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

       

}


/** site1---->semseters4ikons  site1---->semseters4ikons  site1---->semseters4ikons  */
.læringsMateriale{
display: flex;
flex-direction: row;
justify-content: space-evenly;
margin-bottom: 5rem;
background-color:#4E4E4E;
padding-top: var(--spaceDefault);
padding-bottom: var(--spaceDefault);
border-radius: 10px;

}


.semester{
        width: 22vh;
        height: 62vh;
        border: solid #222 1px;
}

.semesterIkon{
      height: 9rem;
      width: 9rem;
      border: #222 solid 1px;
      border-radius: 6px;
    
}

.semesterIkon:hover{
        cursor: pointer;
        transition: all .4s linear;
        transform: translateY(-10px);
        border:solid 2px #fa911a;
        border-radius: 6px;
    
}

.headerStudyCourse{
        margin-bottom: .75rem;
        font-size:var(--fontBody);
        font-weight: 300;

}
.mmdText{
       padding-left: 6px;

     
}

.semesterSecond{
        max-width: 70vw;
        align-self: center;
      
        
}
.semesterIndication{
    
        font-size:1.5rem;
        font-weight: 300;
        
       
}
.semesterIndication {
       
        overflow: hidden;
        text-align: center;
        font-weight:300;
        color: #4E4E4E;
      }
.semesterIndication:before, .semesterIndication:after {
        content: "";
        display: inline-block;
        width: 50%;
        margin: 0 .5em 0 -55%;
        vertical-align: middle;
        border-bottom: 1px solid;
      }
.semesterIndication:after {
        margin: 0 -55% 0 .5em;
      }
      span {
        display: inline-block;
        vertical-align: middle;
      }
      
.--mmd{
text-align: center;
}

/* still site1 still site1 still site1 still site1 /
/** attention-attnention!!! site doubling semester2 gallery!!!!!  */

/** animated text multimediedesign source: trully mitttal , code pen */
@keyframes multimedia {
        0% {
          background-position: 0%;
        }
        100% {
          background-position: 100%;
        }
      }

.--mmd {
        font-weight: 700;
        background-image: linear-gradient(70deg, 
          rgb(64, 224, 208), 
          rgb(255, 140, 0), 
          rgb(255, 0, 128), 
          rgb(64, 224, 208), 
          rgb(255, 140, 0), 
          rgb(255, 0, 128));
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        background-size: 200%;
        animation: multimedia 2s linear infinite alternate;
        max-width: 100%;
      }
      
.--mmd::before {
        content: attr(data-text);
        display: block;
        z-index: -1;
        font-weight: 700;
        font-size: 3rem;
        background-image: linear-gradient(70deg, rgb(64, 224, 208), rgb(255, 140, 0), rgb(255, 0, 128), rgb(64, 224, 208), rgb(255, 140, 0), rgb(255, 0, 128));
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        animation: multimedia 2s linear infinite alternate;
        filter: blur(32px);
      }
      
/** ends animated text multimediedesign ends animated text multimediedesign ends animated text multimediedesign ends  */


/**  site2 site2 site2 site2 site2 site2 site2 */
.--mmd2{
        font-size: var(--fontMMDSecondPage);
        text-align: center;
        margin-bottom: var(--spaceDefault);
        
}
.mainContent{
        flex-grow: 1;
        align-self: center;
        max-width: 70vw;
        align-self: center;

}
.gallerySecondSite{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: var(--spaceSmall);
        justify-self: center;
        margin-bottom: var(--spaceLarge);
     
       
}

.galleryItemSecondSite{
        padding: var(--spaceDefault);
        padding-top: var(--spaceAfterSmall);
        padding-bottom: var(--spaceAfterSmall);
        border: rgb(165, 165, 165) 1px solid;
        border-radius: 6px;
        text-align: center;
        font-size: 2rem;
        font-family: 'Bebas Neue', cursive;
        color:whitesmoke;
        text-shadow: 1px 1px 3px black;

}


.galleryItemSecondSite:hover{
        cursor: pointer;
        border: none;
        transition: all .4s linear;
        transform: translateY(-2px);
        
}

.--item1{
        background-color: #f3bf589d;
        border: solid 1px #f6ba42;
} 
.--item2{
        background-color:  #36c6063d; 
        border: solid 1px #88f36484;
}
.--item3{
        background-color: #bce5f4aa;
        border: solid 1px  #b9ecff;
}

.--item4{
        background-color:rgba(255, 192, 203, 0.762);
        border: solid 1px rgb(252, 174, 187);
}

.--item5{
        background-color: rgba(211, 211, 211, 0.872);
        border: solid 1px rgba(176, 174, 174, 0.583);
}

.--item6{
        background-color:rgba(252, 107, 107, 0.667);
        border: solid 1px rgba(253, 90, 90, 0.994) ;
}   



.galleryItemSecondSite:hover{
        background-color: inherit;
        border: solid 1px black ;
        text-shadow:none;
        color: #222;
        

}
.--headerSecondSite{
        margin-bottom: var(--spaceSmall);}



.additionalText{
        font-weight: 700;

      
}
.--item4,.--item5,.--item6{
        margin-top: 0%;
}
/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - */


/** site3-uxui site3-uxui site3-uxui site3-uxui site3-uxui site3-uxui site3-uxui site3-uxui */

.modul1{
        text-align: center;
        font-size: 5rem;
        font-family: 'Bebas Neue', cursive;
        color:#4E4E4E;
        text-shadow: 1px 1px 1px black;
        margin-bottom: .5rem;
        margin-top: 1rem;
        padding-bottom: 4px;
        border-bottom: #4E4E4E 1px solid;

}

.--underModulHeading{
        text-align: center;
        font-size: 1rem

}
.--uiux {
        font-size: 1.2rem;
        text-align: center;
        margin-bottom: var(--spaceMediumPlus);
     
}

.comparisonBlock{
      display: grid;
      grid-template-columns: 1fr 1fr;
   
    

}
.itemC1{ 
        text-align: right;
        padding-right:var(--spaceDefault) ; 
        padding-left: 4px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        background: linear-gradient(90deg, rgba(210,210,203,1) 0%, rgba(223,223,222,1) 3%, rgba(250,249,245,1) 30%);
      

}
.itemC2{/**on the right UI */
        padding-left: var(--spaceDefault);
        padding-right: 4px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        background: linear-gradient(90deg, rgba(250,249,245,1) 58%, rgba(223,223,222,1) 98%, rgba(210,210,203,1) 100%);
  
} 
h4{
        margin-bottom: 0%;
        margin-top: 0;
        text-transform: uppercase;
}
.textUxi{
     margin-bottom: 0;   
}
.recapUpper{
        margin-bottom: var(--spaceXXSmal);
        text-align: center;
        font-size:1.5rem;
        font-weight: 300;
      
}
.recapText{
        margin-top: 0;
        margin-bottom: var(--spaceMediumPlus);
   
}



/** Site:trends  trends trends trends trends  trends trends trends trends  trends trends trends */
#trendsUI{
        margin-bottom:var(--spaceMediumPlus) ;

}

.InfoField{
 display: grid;
 grid-template-columns: 30vw auto;
 background-color: inherit;
 border:#4E4E4E 1px solid;
 padding: 16px;
 color:var(--colorFontBody);
    border-radius: 25px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    margin-bottom: var(--spaceMediumPlus);
}

.galleryField{
     display: grid;
     grid-template-columns:repeat (3 1fr);
     grid-template-rows:1fr 1fr  ;
     gap:16px;
     
}
.--trendElement{
        padding-right:var(--spaceXXSmal);
}
.galleryPicture{
  width: 100%; 
  max-width: 100%;
  height: 100%;
  border-radius: 25px;
  object-fit: cover;
  cursor: pointer;
  transition: .7s ease-in-out ;
  overflow: hidden;
  border:#4E4E4E solid 1px;
}
.arrow{
        font-size: 1.5rem;
        vertical-align: middle;     
}
.arrowRight:hover{
        color:green;
}
.arrowBack:hover{
color: crimson;
}
.arrowText{
     font-size:.9rem ;
        margin: 0;
}
.arowTextLower{
        margin-bottom: 1.5rem;
}

.galleryPicture:hover {
    transform:scale(1.1);
    border:var(--colorFontBody) solid 2px;
    z-index: +2;
    filter: contrast(1);

 }
 

.picture1{
        grid-area:1/1/2/2 ;
}
.picture3{
        grid-area: 1/2/2/4;
}
.picture4{
        grid-area: 2/1/3/4;
      
       
}
.--gallerySectionFourElements{
display: grid;
grid-template-columns:1fr 1fr ;
grid-template-rows: 1fr 1fr ;
gap:16px;

}



/** first semester mp4 -- first semester mp4 --first semester mp4  */
.movieTitle{
        text-align: center;
}
.videoField{
        display: flex;
        justify-content: center;
        margin-bottom: var(--spaceLarge);
}


/** designSite  designSite  designSite designSite */
.--uiux.--citat{
margin-bottom: 0;
}

.authorUndeplaced{
        margin-top: 0;
        font-size: 1rem;
        color:#4e4e4eb5;
        text-align: right;
}
.designSystemBox{
        display: flex;
        flex-direction: row;
        gap:var(--spaceDefault);
}
.designSystem{
        font: var(--fontBody);
}


/** footer footer   */
footer{
        color: rgb(71, 70, 70);
        position: sticky;
        text-align: center;
        margin: 0;
        border-top: #222 solid 1px;}

.footerInfo__name{
        margin-top: var(--spaceXXSmal);
}

/** footer-ends  footer-ends  footer-ends  footer-ends */









/* !!!!! Mobile Mobile Mobile Mobile Mobile Mobile Mobile Mobile!!!!!*/
/** first-site-mobile    first-site-mobile   first-site-mobile  first-site-mobile */
@media only screen and (max-width: 768px){
        *{box-sizing: border-box;

        }


       
        body{
                width: 100vw;
                height: 100vh;
                margin: 0;
                scroll-behavior: smooth;
                margin: 0;
                text-align: center;
                align-items: center;
                text-align: center;
        }


        .main.--PageContent{
                display: grid;
                grid-template-columns: 1fr;
                text-align: left;
                padding-left: .75rem;
                padding-right: .75rem;
                max-width: 100vw;
               
              
        }
        
header{
        margin-bottom: var(--spaceSmall);
        position: fixed;
        height: 70px;
        width: 100%;
        padding-left: 1.6rem;
        padding-right: .75rem;
       
    

}
.--headerP{
        margin-top: var(--spaceXXSmal);
        color: rgb(252, 254, 255);
        line-height: 88%;
        color:rgb(243, 132, 151)  ;
        color: #fa911a;
      
}

.--lportfolio{
        color: whitesmoke;
        color:rgb(71, 70, 70);
     
}

.--PageFirst{
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
        text-align: center;
}


.welcome--line{
      font-size: var(--fontDefault);
}
.welcomeText{
       display: none;
}

.navbar{
        display: none;
}
.--p1,.--p3,.--p2{
        display: none;
}
.læringsMateriale{
        overflow-x: scroll;
        background-color: inherit;
        margin-bottom: var(--spaceDefault); 
}


/* didn´t work without this (!!!) added extra container: div (Jarne will not like it :( ) */
.touchWrapperHelper {
        width: 100%;   
        white-space: nowrap;

}   
.introduction{
        display: grid;
        grid-template-columns: 1fr;
        background-image: none;
        margin-bottom: var(--spaceDefault);
        text-align: center;
}
.semesterIkon{
        max-width: 100%;
        border-radius: 6px;
       margin-right: 2rem;
    
}



.--pMobile{
        display: contents;
        font-weight: 100;
     
}


/*    doubling    when worikng on combining two versions */

.headerStudyCourse{
        font-size: var(--fontMobileBody);
        text-align: center;
        font-weight: 100;

}
.semesterSecond{
        max-width: 100vw;
        align-self: center;   

        }

/* testing version without this MMD on mobile - better?*/
/*.text.--mmd{
        font-size: 2rem;
        text-align: center;
      
}*/


.--mmdmobile{
        display: none;
}

.semesterIndication{
        margin-top: 2rem;
        margin-bottom: 1.5rem;
        font-size: var(--fontMobileBody);
        font-weight: 100;
        color:#4E4E4E;

       
}



/** Mobile 2222222222222222*/
.mainContent{
        max-width: 100vw;
     

}
.--mmd2{
        font-size: var(--fontMedium);
}
.gallerySecondSite{ 
        display: grid;
        grid-template-columns:1fr;

        gap: .75rem;
        margin-bottom: var(--spaceDefault);
      
}
.galleryItemSecondSite{
        margin-top: 0;
        margin-bottom: 0;
        padding:1.4rem 2.2rem;
        font-size: 1.5rem;
        background: radial-gradient(circle, rgb(253, 253, 252) 76%, rgba(223,223,222,1) 100%);
        border: #4E4E4E solid 1px;
        color: #4E4E4E;
        text-shadow: none;
      
}
.additionalText{
        margin-top: 6rem;
        margin-bottom: 0;
        text-align: left;
        font-weight: 200;
}

/**Mobile 333333333333333333333333333333333333333333333333333333333333333333 */
.modul1{
        font-size: 2.2rem;
        text-shadow:none;
}

.--underModulHeading{
font-size: 1rem;
}

.--Site3{    
        font-size:1rem ;
        margin-left: 0;
        margin-right: 0;
      
 
   
}
.comparisonBlock{
        font-display: grid;
        grid-template-columns: 1fr;
        border-radius: 10px;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 8px;
        gap: var(--spaceDefault);
}
.textUxi {
        margin-bottom:0;
        margin-top: 0;
      
}
.recapText{
        text-align: left;
}
.recapUpper{
        margin-top: 1rem;
}
.--mmd.--uiux{
        margin-left: 0;
        margin-bottom:1.5rem;
    
}
.itemC1{
        border-radius: 15px;
        padding-top: 8px;
        background: linear-gradient(90deg, rgba(224,224,223,1) 0%, rgba(245,244,241,0.5494353991596639) 15%, rgba(250,249,245,1) 80%, rgba(223,223,222,1) 99%);
        background: #d5f5ff;
        background-color: #bce5f4aa;
        background: linear-gradient(90deg, rgba(188,229,244,0.566843925070028) 20%, rgba(188,229,244,0.5444349614845938) 40%, rgba(188,229,244,0.75171787464986) 58%, rgba(188,229,244,0.9197851015406162) 79%);

}
.itemC2{
grid-area: 1/1/2/-1;
border-radius: 15px;
padding-top: 8px;
/*background: linear-gradient(90deg, rgba(224,224,223,1) 0%, rgba(245,244,241,0.5494353991596639) 15%, rgba(250,249,245,1) 80%, rgba(223,223,222,1) 99%);*/
background: linear-gradient(90deg, rgba(252,240,183,1) 0%, rgba(252,240,183,0.7643229166666666) 45%, rgba(252,240,183,0.47020526960784315) 72%);


}

/** mobile:trends  trends trends trends trends trends trends*/
.InfoField{
        max-height: 88vh;
        display: grid;
        grid-template-columns: 1fr;
        font-size: .9rem;   
        background-color: #484848;
        color: whitesmoke;
}
.galleryField{
display: flex;
flex-direction: row;
flex-wrap: nowrap;
overflow-x: scroll;

}
.galleryPicture{
 border-radius: 8px;
max-width: 70%;
}
.arrow{
        color:whitesmoke
}


/**  mp4Semester1 mp4Semester1mp4Semester1mp4Semester1mp4Semester1mp4Semester1 */
#video{
       width: 300px;
       height: 600px;

}


/** fffffffooter   fffffooter  */
footer{
        max-width: 100%;
        margin: 0;
        color:whitesmoke;
        background-color:#4E4E4E;
        border-top: none;
}

}







